/**********************************/
/* MAIN */
/**********************************/

main {
  padding: 8% 0 28% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-section {
  max-width: 1400px;
  color: var(--secondary-color);
}

.about-us {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.about-us-texts {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 14px;
}

.name-title,
.paragraphs {
  display: flex;
  flex-direction: column;
}

.name-title {
  gap: 8px;
}

.paragraphs {
  gap: 20px;
}

.about-us-texts h1 {
  font-size: 3.6rem;
  line-height: 0.9;
}

.about-us-texts h2 {
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  font-weight: 600;
  color: #aaa;
}

.about-us-texts p {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.about-us-img {
  display: flex;
  justify-content: center;
  order: -1;
}

.about-us-img img {
  aspect-ratio: 1;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 880px) {
  main {
    padding: 5% 0 14% 0;
  }

  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .about-us {
    gap: 72px;
  }

  .about-us-texts {
    gap: 24px;
  }

  .name-title {
    gap: 14px;
  }

  .paragraphs {
    gap: 32px;
  }

  .about-us-texts h1 {
    font-size: 4.2rem;
  }
}
