/**********************************/
/* MAIN */
/**********************************/

main {
  padding: 8% 0 28% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookings-section {
  /* padding: 128px 0 256px 0; */
  padding: 0 24px;
}

.bookings {
  background-color: #efefef;
  /* padding: 48px 64px 64px 64px; */
  padding: 20px 24px;
}

.bookings h1 {
  font-size: 2rem;
  margin-bottom: 28px;
}

.bookings p {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 1.4px;
  margin-bottom: 48px;
}

.form {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 56px;
  row-gap: 36px; */
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form input,
.form textarea {
  border: none;
  color: #222;
  border-bottom: 2px solid #222;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #222;
  font-weight: 500;
  font-size: 1.4rem;
}

.form textarea {
  min-height: 80px;
  max-height: 80px;
  max-width: 100%;
}

.form-date label {
  font-size: 1.4rem;
  font-weight: 500;
}

.form-event-loc {
  padding-top: 18px;
}

.form-message {
  grid-column: 1 / 3;
}

.form-message label {
  display: block;
}

.form button {
  width: 100%;
  border: 2px solid black;
  background-color: #222;
  padding: 12px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: all 300ms ease;
  cursor: pointer;
}

.form button:hover {
  background-color: transparent;
  color: #222;
}

@media (min-width: 768px) {
  .bookings-section {
    padding: 0 48px;
  }

  .bookings {
    padding: 36px 48px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 56px;
    row-gap: 36px;
  }

  .form button {
    max-width: 256px;
  }
}

@media (min-width: 880px) {
  main {
    padding: 2% 0 10% 0;
  }
}
