/**********************************/
/* MAIN */
/**********************************/

.gallery-section {
  padding: 0 24px 128px 24px;
}

.gallery h1 {
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 700;
  text-align: right;
}

.gallery-grid {
  margin: 0 auto;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  /* padding: 48px; */
  width: 100%;
}

.gallery-grid img {
  height: auto;
  width: 100%;
  /* Aspect-ratio will work as long as the image has a width */
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  nav {
    display: none;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-grid img {
    aspect-ratio: 3/2;
  }
}

@media only screen and (max-width: 992px) {
  .gallery-grid img {
    aspect-ratio: 16/10;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
