:root {
  --secondary-color: #222;
  --section-top-btm-pad: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.active {
  overflow-y: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/**********************************/
/* GENERAL REUSABLE COMPONENTS */
/**********************************/

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/**********************************/
/* HEADER */
/**********************************/

header {
  position: relative;
}

.navbar {
  min-height: 72px;
  padding: 14px 18px 20px 18px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar h2 {
  font-size: 24px;
  font-weight: 700;
}

.navbar h2 a {
  font-size: 1em;
  color: inherit;
  text-decoration: none;
}

.navbar h2 span {
  letter-spacing: 0.8px;
  color: #aaa;
  font-size: 0.4em;
  font-weight: 700;
}

.logo,
.hamburger {
  z-index: 2;
}

/**********************************/
/* NAVIGATION */
/**********************************/

.desktop-nav {
  display: flex;
}

.desktop-nav .desktop-nav-list {
  display: none;
}

.desktop-nav li,
.mobile-nav-list li {
  list-style: none;
}

.desktop-nav-list a:link,
.desktop-nav-list a:visited {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  transition: all 300ms;
  border-bottom: 4px solid transparent;
  margin-top: 16px;
  padding-bottom: 4px;
}

.desktop-nav-list a:hover {
  border-bottom: 4px solid var(--secondary-color);
}

/* Mobile Navigaton */

.hamburger {
  display: block;
  width: 28px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 5px 0;
  transition: all 300ms;
}

.hamburger.active::after {
  transform: rotate(45deg) translate(-2px, -5px);
}

.hamburger.active::before {
  transform: rotate(-45deg) translate(-1px, 4px);
}

.hamburger.active .bar {
  display: none;
}

.mobile-nav {
  padding-left: 8%;
  padding-bottom: 30vh;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #e9edc9;
  transition: all 200ms ease-in-out;
}

.mobile-nav.active {
  transform: translateX(0);
}

.mobile-nav-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-nav-list a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 4.8rem;
  font-weight: 700;
  display: block;
  transition: all 300ms;
  text-transform: lowercase;
}

/**********************************/
/* HERO - SECTION */
/**********************************/

.hero-section {
  padding: 0 0 calc(var(--section-top-btm-pad) + 24px) 0;
}

.hero {
  padding: 0 5%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 36px;
  align-items: center;
}

.hero-img-box {
  order: -1;
}

.hero-img {
  aspect-ratio: 5/4;
  width: 100%;
  object-fit: cover;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: left;
  padding: 0 14px;
}

.hero-text-box h1 {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 28px;
  font-weight: 600;
}

.hero-text-box p {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 1.4px;
  margin-bottom: 42px;
  color: #555;
}

.hero-text-box a:link,
.hero-text-box a:visited {
  align-self: flex-start;
  text-align: center;
  display: block;
  /* width: 192px; */
  width: 100%;

  padding: 14px 32px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1.6px;

  transition: all 300ms ease;
  border: 3px solid var(--secondary-color);
  color: #fff;
  background-color: var(--secondary-color);
}

.hero-text-box a:hover,
.hero-text-box a:active {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: #fff;
}

/**********************************/
/* COLLECTION - SECTION */
/**********************************/

.collection-section {
  padding: 0 0 calc(var(--section-top-btm-pad) - 24px) 0;
  background-color: #efefef;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection {
  max-width: 1400px;
}

.collection-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  font-weight: 700;
  padding: 0 32px;
  letter-spacing: 1px;
}

.collection-grid {
  padding: 56px 0 0 0;
  display: grid;
  grid-row: repeat(8, 1fr);
  gap: 28px;
}

.collection-grid div:nth-child(4) {
  grid-row: 3;
}

.collection-grid div:nth-child(8) {
  grid-row: 7;
}

.collection-img-box img {
  aspect-ratio: 16 / 10;
  object-fit: cover;
  width: 100%;
}

.collection-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
  margin-bottom: 64px;
}

.collection-text-box h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.collection-text-box p {
  padding-left: 20px;
}

.collection-text-box p,
.collection-text-box a {
  font-size: 1.4rem;
}

.collection-text-box p {
  letter-spacing: 1.6px;
  line-height: 1.5;
  margin-bottom: 64px;
  font-weight: 400;
}

.collection-text-box a:link,
.collection-text-box a:visited {
  padding: 12px 14px 12px 18px;
  text-decoration: none;
  color: #eee;
  background-color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 1.6px;
  transition: all 300ms;
  border: 3px solid transparent;
}

.collection-text-box a:hover,
.collection-text-box a:active {
  background-color: #eee;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

/**********************************/
/* FILLER - SECTION */
/**********************************/

.filler-text-section {
  padding: var(--section-top-btm-pad) 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.filler-text h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 36px;
  line-height: 1.2;
}

.filler-text p {
  font-size: 1.6rem;
  text-align: right;
}

/**********************************/
/* FAQ - SECTION */
/**********************************/

.faq-section {
  width: 100%;
  padding: var(--section-top-btm-pad) 28px;
  background-color: #e9edc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.faq {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.faq-section h2 {
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  justify-items: center;
  gap: 32px;
}

.faq-accordion {
  padding: 14px 20px 20px 20px;
  display: grid;
  border-top: 5px solid transparent;
  grid-template-columns: auto 1fr auto;
  column-gap: 18px;
  background-color: #fbfbf4;
  cursor: pointer;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.faq-number,
.faq-header {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

.faq-number {
  color: #a3a68d;
  font-size: 2.8rem;
}

.faq-icon {
  width: 24px;
  height: 24px;
  stroke: #a3a68d;
  transition: all 300ms ease-in-out;
}

.open .faq-icon {
  transform: rotate(calc(-180deg));
  stroke: var(--secondary-color);
}

.faq-hidden {
  opacity: 0;
  grid-column: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.faq-hidden-content p {
  margin-top: 28px;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  line-height: 1.6;
  padding-bottom: 24px;
}

/* OPEN ACCORDION */
.open {
  border-top: 5px solid #2f2f28;
}

.open .faq-hidden {
  opacity: 1;
  display: block;
}

.open .faq-number,
.open .faq-text {
  color: #2f2f28;
}

/**********************************/
/* CTA - SECTION */
/**********************************/

.cta-section {
  padding: var(--section-top-btm-pad) 32px;
}

.cta {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50vh 1fr;
  background-color: #eee;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  color: var(--secondary-color);
}

.cta-text-box {
  padding: 8% 10%;
}

.cta-text-box h2 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 16px;
}

.cta-text-box p {
  margin-bottom: 42px;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 1.4px;
}

.cta-img-box {
  order: -1;
  background-image: linear-gradient(
      rgba(189, 189, 189, 0.1),
      rgba(34, 34, 34, 0.2)
    ),
    url('https://images.unsplash.com/photo-1541779408-c355f91b42c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286&q=80');
  background-size: cover;
  background-position: center;
  scale: 1;
  width: 100%;
}

.cta-form {
  display: grid;
  column-gap: 56px;
  row-gap: 36px;
}

.cta-form input,
.cta-form textarea {
  border: none;
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  background-color: transparent;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.4rem;
}

.cta-form textarea {
  min-height: 80px;
  max-height: 80px;
  max-width: 100%;
}

.form-message label {
  display: block;
}

.cta-form button {
  width: 100%;
  border: 3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  margin-top: 24px;
  padding: 12px 0;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  transition: all 300ms ease;
  cursor: pointer;
  letter-spacing: 1.4px;
}

.cta-form button:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

/**********************************/
/* FOOTER */
/**********************************/
footer {
  padding: 48px 64px 56px 64px;
  width: 100%;
  background-color: var(--secondary-color);
  color: #eee;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}

footer > h2 {
  color: #fff;
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 10vw;
  transform: translate(65%, -47%);
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-weight: 500;
}

.footer-left,
.footer-right {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.footer-left {
  margin-top: 10vw;
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer-socmed {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.footer-right {
  margin-top: 56px;
  text-align: center;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

/* ionicons */
ion-icon {
  font-size: 28px;
  --ionicon-stroke-width: 2px;
}
